<app-nav-bar></app-nav-bar>
<div class="container">
  <h1>Our Services</h1>

  <p>
    We offer innovative software with outstanding user interface/experience.
  </p>

  <div class="row">
    <app-icon-with-title
      title="BackEnd Dev"
      iconSrc="assets/database.svg"
    ></app-icon-with-title>
    <app-icon-with-title
      title="FrontEnd Dev"
      iconSrc="assets/front.svg"
    ></app-icon-with-title>
    <app-icon-with-title
      title="Mobile Dev"
      iconSrc="assets/mobile.svg"
    ></app-icon-with-title>
  </div>

  <app-searches-results></app-searches-results>
</div>
