<img src="assets/google.png" />
<div *ngFor="let search of searches$ | async">
  <a (click)="openLink(search.busqueda)">
    "{{ search.busqueda | titlecase }}"
    <span> ~ {{ search.num_resultados | number }} results </span>
  </a>
</div>
<h2>Don't waste your time, hire professionals, hire Techsuite.</h2>
