:host {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;

  a {
    cursor: pointer;

    &:hover {
      color: darkblue;
    }
  }

  img {
    width: 4.5rem;
    height: 1.5rem;
  }

  span {
    font-weight: bold;
  }
}
