<app-nav-bar></app-nav-bar>
<div class="container">
    <h1>Our clients</h1>
    <p>
        Over the past years we have been helping well-stablished companies.
    </p>
    <p>
        Meet our most importants clients: 
    </p>
        <img class="center" src="assets/clients.svg"/>
        
</div>