.container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 6.2rem;
    h1 {
      font-size: 2.5rem;
      line-height: initial;
    }
    p {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 300;
      max-width: 56rem;
  
      &:last-of-type {
        margin-top: 2rem;
      }
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 55vh;
      width: 55vw;
      widows: 45vw;
    }
  
  }
    
