<app-nav-bar></app-nav-bar>
<div class="container">
  <h1>Our Technologies</h1>

  <p>
    We offer cutting-edge technology and a business approach with agile
    methodology.
  </p>

  <p>Some examples of our technologies are:</p>

  <div class="row">
    <app-icon-with-title
      title="Angular"
      iconSrc="assets/angular.svg"
    ></app-icon-with-title>
    <app-icon-with-title
      title="Gitlab"
      iconSrc="assets/gitlab.svg"
    ></app-icon-with-title>
    <app-icon-with-title
      title="Mysql"
      iconSrc="assets/mysql.svg"
    ></app-icon-with-title>
    <app-icon-with-title
      title="Spring Boot"
      iconSrc="assets/spring-boot.svg"
    ></app-icon-with-title>
    <app-icon-with-title
      title="Selenium"
      iconSrc="assets/selenium.png"
    ></app-icon-with-title>
    <app-icon-with-title
      title="Docker"
      iconSrc="assets/docker.png"
    ></app-icon-with-title>
  </div>
</div>
