.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0 6.2rem;

  h1 {
    font-size: 2.5rem;
  }

  p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 300;
    max-width: 56rem;

    &:last-of-type {
      margin-top: 2rem;
    }
  }

  .row {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
