.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  img {
    width: 13rem;
    height: 18rem;
    border-radius: 50%;
    box-shadow: 0.1rem 0.7rem 1rem rgba(0, 0, 0, 0.2);
  }

  p {
    font-weight: 300;
    font-size: 2rem;
    max-width: 16rem;
    text-align: center;
  }
}
