:host {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.5rem;
  padding: 0 5rem;

  img {
    width: 20rem;
    height: 10rem;
  }

  li {
    color: blue;
  }

  li:last-child {
    background-color: #baecec;
    border: solid black 1px;
    padding: 0.2rem 0.5rem;
  }
}
