<h1 mat-dialog-title>¡Bienvenido!</h1>
<div mat-dialog-content>
  El proceso de ingreso se ha completado satisfactoriamente. Si lo deseas puedes
  volver a realizarlo las veces que quieras, solo ten cuidado de introducir
  correctamente tu matricula. Nosotros tomaremos en cuenta sólo la última
  ocasión.
</div>
