<div
  class="headers grid"
  [style.gridTemplateColumns]="getGridTemplateColumns()"
>
  <div *ngFor="let option of options">{{ option }}</div>
</div>

<mat-radio-group
  class="grid"
  [style.gridTemplateColumns]="getGridTemplateColumns()"
  *ngFor="let element of elements; trackBy: trackByItems"
  (change)="selection.emit($event.value)"
>
  <mat-label>{{ element.label }}</mat-label>
  <mat-radio-button
    *ngFor="let option of options"
    [value]="{ option: option, selected: element.value }"
  ></mat-radio-button>
</mat-radio-group>
