:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .grid {
    display: grid;
    justify-items: center;
  }

  .headers > *:first-child {
    grid-column-start: 2;
  }

  mat-radio-group > *:first-child {
    justify-self: start;
  }
}
