<app-nav-bar></app-nav-bar>

<div class="column container">
  <h1>Ingreso a Techsuite</h1>

  <mat-card class="column">
    <mat-card-content>
      ¡Bienvenido a <strong>Techsuite</strong>! Estamos encantados de que
      comiences a formar parte del equipo. Para comenzar, es muy importante que
      rellenes el siguiente documento de ingreso. Esto nos permitirá conocerte
      un poco mejor: tus fortalezas, tus debilidades, tus intereses, etc. De
      esta manera intentaremos encontrarte un equipo en el que puedas exprimir
      al máximo tus capacadidades y, sobre todo, aprender un montón.
    </mat-card-content>

    <mat-card-title>¡Identifícate!</mat-card-title>
    <app-required-input
      label="Nombre"
      placeholder="Pedro González Pérez"
      [(value)]="cuestionario.nombre"
    ></app-required-input>
    <app-required-input
      label="Matrícula"
      placeholder="z17m012"
      [(value)]="cuestionario.matricula"
    ></app-required-input>

    <mat-card-title>¿Qué se te da bien?</mat-card-title>
    <app-radio-table
      *ngIf="params"
      [elements]="params.tecnologias"
      [options]="params.opciones.conocimiento"
      (selection)="
        handleSelection('tecnologias', $event.selected, $event.option)
      "
    ></app-radio-table>
    <mat-form-field>
      <mat-label>Comentarios</mat-label>
      <textarea
        matInput
        [(ngModel)]="cuestionario.comentariosTecnologias"
      ></textarea>
    </mat-form-field>

    <mat-card-title>También te caracteriza...</mat-card-title>
    <app-radio-table
      *ngIf="params"
      [elements]="params.softskills"
      [options]="params.opciones.rendimiento"
      (selection)="
        handleSelection('softskills', $event.selected, $event.option)
      "
    ></app-radio-table>
    <mat-form-field>
      <mat-label>Comentarios</mat-label>
      <textarea
        matInput
        [(ngModel)]="cuestionario.comentariosSoftskills"
      ></textarea>
    </mat-form-field>

    <mat-card-title>Me gustaría trabajar en...</mat-card-title>
    <app-radio-table
      *ngIf="params"
      [elements]="params.cargos"
      [options]="params.opciones.preferencia"
      (selection)="handleSelection('cargos', $event.selected, $event.option)"
    ></app-radio-table>
    <mat-form-field>
      <mat-label>Comentarios</mat-label>
      <textarea matInput [(ngModel)]="cuestionario.comentariosCargo"></textarea>
    </mat-form-field>

    <div class="button-container">
      <button
        mat-raised-button
        color="primary"
        [disabled]="isInvalid()"
        (click)="submit()"
      >
        Enviar
      </button>
    </div>
  </mat-card>
</div>
