.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0 6.2rem 2rem 6.2rem;
  min-height: 50vh;
  gap: 3rem;

  .center {
    margin: auto;
  }

  .member-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, min-content));
    justify-content: center;
    gap: 4rem;
  }
}
