<app-nav-bar></app-nav-bar>
<div class="container">
  <h1>Our team</h1>

  <mat-progress-spinner
    *ngIf="!executives || !developers; else content"
    mode="indeterminate"
    [diameter]="150"
    class="center"
  ></mat-progress-spinner>

  <ng-template #content>
    <h1 class="center">EXECUTIVE BOARD</h1>
    <div class="member-row">
      <app-team-member
        *ngFor="let exec of executives"
        [member]="exec"
      ></app-team-member>
    </div>

    <h1 class="center">DEVELOPERS</h1>
    <div class="member-row">
      <app-team-member
        *ngFor="let dev of developers"
        [member]="dev"
      ></app-team-member>
    </div>
  </ng-template>
</div>
